<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Find your home today</h1>
      <p class="p-2">One stop marketplace for your new property.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <section class="latest-properties">
      <div class="row">
        <%= render "properties/latest_properties" %>
      </div>
    </section>

    <hr>

  </div>
  <!-- /container -->

</main>
